{% extends 'base.html.twig' %}

{% block title %}{{ title == 'Accueil' ? title ~ ' - Roissy Parks' : 'Roissy Parks - ' ~ title }}{% endblock %}

{% block body %}
<section>
    <div class="banner">
        <div class="img"></div>
    </div>
    <div class="contenu">
        <img src="{{ asset('common/logo_texte/logo_512.webp') }}" alt="Logo de l'entreprise" class="logo-main">
        <a href="{{ path('app_reservation') }}" class="btn-home">Réserver</a>
    </div>
</section>
{% endblock %}